{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}


{% block main %}
<form action="/about" method="get">
      <h1 style="font-size: 28px;" id="eve">ABOUT THE EYE</h1>
      <section id="events">
        <img src="https://i.imgur.com/BPbmomb.jpg">
        <p><span style="font-size: 45px;">Who We Are</span><br>The Eye is a cybersecurity-focus college society under the Computer Science and Engineering Association in PSG College of Technology. We have multiple verticals to help our members learn and practice cybersecurity in their every-day life. We organize events in order to increase awareness of Cybersecurity within the college, and also perform other activities like research and documentation, secure coding and mock box attacks.</p>
      </section>
          
      <section id="medias">
        <p><span style="font-size: 45px;">What We Do</span><br>The Eye has 8 Teams under the society:
        <br/><br/>
        <a style="color:white;text-decoration: none;"><span style="font-size: 25px;">Events Team</span></a>
        <br/>Led by Mehul Dinesh, is responsible for organizing and executing events that aim to increase cybersecurity awareness and knowledge within the college community. Their work involves planning and managing workshops, seminars, and competitions, creating opportunities for students to engage with cybersecurity topics.
        <br/><br/>
        <a style="color:white;text-decoration: none;"><span style="font-size: 25px;">Technical Team</span></a>
        <br/>Guided by Arun U S, deals with the technical challenges and projects of The Eye. Their role encompasses secure coding practices, mock attacks, and developing technical solutions to enhance the cybersecurity skills of the society’s members.
        <br/><br/>
        <a style="color:white;text-decoration: none;"><span style="font-size: 25px;">Design Team</span></a>
        <br/>Led by O Keerthi, focuses on the creation of visually engaging materials. Their responsibilities include designing graphics and layouts for promotional content, ensuring that all visual aspects of the society’s communications are both appealing and effective.
        <br/><br/>
        <span style="font-size: 25px;">Publicity Team</span>
        <br/>Under the leadership of Mehul Dinesh, handles the promotion and public relations efforts of The Eye. This team is crucial for enhancing the society's visibility, managing communication strategies, and engaging the student body through effective marketing of events and initiatives.
        <br/><br/>
        <span style="font-size: 25px;">Server Administration Team</span>
        <br/>Consisting solely of Lohith S and Arun U S, is tasked with maintaining the uptime and reliability of the society’s technical systems. Their role is highly specialized and selective, reflecting the critical nature of their responsibilities in server management and troubleshooting.
        <br/><br/>
        <span style="font-size: 25px;">Core Team</span>
        <br/>Serves as the backbone of The Eye, with Amithalakshmi Raj as the Secretary, ensuring the seamless operation and coordination of society activities. Aaditya Rengarajan and Soorya Subramani function as Student Advisors, offering strategic guidance and support for the society's initiatives. Arun, Lohith, Manoj Kumar, and Navaneetha Krishnan S make up the Technical Team, handling the technical aspects of the society’s projects. Subhasri Shreya, in her role as Publicity Advisor, manages the society’s public relations and outreach, while Mehul Dinesh and Richard Samuel D, as Publicity Leads, focus on promoting events and initiatives. O Keerthi, the Design Lead, is responsible for creating compelling visual content and promotional materials.
        <br/><br/>
        </section>

</form>
{% endblock %}